body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header {
    display: flex;
    height: 69px;
    width: 100%;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 100;
    background-color: black;
}
header img {
    max-height: 50px;
    margin-left: 10px;
}
header li {
    list-style: none;
    display: inline-block;
    text-decoration: underline;
    margin: 20px;
}
header a {
    color: seashell;
}
.mission {
    display: flex;
    height: 700px;
    width: 100%;
    padding-top: 61px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tagline {
    position: absolute;
    z-index: 2;
    text-align: center;
    background-color: black;
    height: 140px;
    width: 1200px;
}
.tea-of-the-month {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.tea {
    display: block;
    text-align: center;
    line-height: 75%;
}
.collage {
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.collage span {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}
.collage img{
    max-width: 300px;
    max-height: 200px;
}
.subtitle {
    text-align: center;
    margin: 100px auto 15px auto;
}
.locations {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto;
    padding-top: 10px;
    background-image: url(/img/locations.webp);
    background-position: center;
    background-size: cover;
}
.location-box {
    display: inline-flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}
.location {
    background-color: black;
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
}
.contact {
    text-align: center;
    max-height: 200px;
}
.copyright {
    text-align: left;
    margin-left: 20px;
}